<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lecture Detail</title>
</head>
<body>

<h1 th:text="${lecture.title}"></h1>
<p th:text="${lecture.body}"></p>

<h2>Videos</h2>
<ul>
    <!-- 강의에 포함된 모든 영상을 반복하여 목록에 표시 -->
    <li th:each="video : ${lecture.lecture_videoList}"> <!-- lecture_videoList 필드에 맞게 업데이트 -->
        <span th:text="${video.lecture_video_id}"></span>
        <span th:text="${video.title}"></span>
        <!-- 비디오 링크가 있다면 이를 표시 (옵션) -->
        <a th:href="${video.video_url}" th:text="${video.video_url}"></a>
    </li>
</ul>

<!--강의에 대한 댓글-->
<h2>Comment</h2>


</body>
</html>