<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lecture Detail</title>
    <!-- 별점 스타일 -->
    <style>
        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: left;
            align-items: center;
        }
        .rating > input {
            display: none;
        }
        .rating > label {
            font-size: 2em;
            color: gray;
            cursor: pointer;
        }
        .rating > input:checked ~ label {
            color: gold;
        }
    </style>
</head>
<body>

<h1 th:text="${lecture.title}"></h1>
<p th:text="${lecture.body}"></p>

<h2>Videos</h2>
<ul>
    <!-- 강의에 포함된 모든 영상을 반복하여 목록에 표시 -->
    <li th:each="video : ${lecture.lectureVideoList}">
        <!-- 영상의 제목을 클릭하면 해당 영상의 상세 페이지로 이동 -->
        <a th:href="@{/lectures/{lectureId}/videos/{videoId}(lectureId=${lecture.lectureId}, videoId=${video.lectureVideoId})}" th:text="${video.title}"></a>
        <!--url은 아직 사용 안함.-->
        <!--<span th:text="${video.video_url}"></span>-->
    </li>
</ul>

<!-- 강의에 대한 댓글 -->
<h2>Comments</h2>
<!-- 로그인된 사용자의 이름 (또는 다른 관련 정보) 표시 -->
<h4 th:if="${session.user}" th:text="'Logged in as: ' + ${session.user.userLoginId}"></h4>

<!-- 댓글 리스트 -->
<ul th:each="comment : ${comments}">
    <li>
        <strong th:text="${comment.user.userLoginId} + ' says:'"></strong>
        <p th:text="${comment.comment_body}"></p>
        <div class="rating">
            <input type="radio" disabled="true" th:checked="${comment.star_rating == 5}">
            <label>★</label>
            <input type="radio" disabled="true" th:checked="${comment.star_rating == 4}">
            <label>★</label>
            <input type="radio" disabled="true" th:checked="${comment.star_rating == 3}">
            <label>★</label>
            <input type="radio" disabled="true" th:checked="${comment.star_rating == 2}">
            <label>★</label>
            <input type="radio" disabled="true" th:checked="${comment.star_rating == 1}">
            <label>★</label>
        </div>
    </li>
</ul>

<!-- 댓글 작성 폼 -->
<form th:action="@{/lectures/{id}/comments(id=${lecture.lectureId})}" method="post">
    <textarea name="comment_body" placeholder="Write your comment"></textarea>
    <br>
    <div class="rating"> <!-- 별점 시각화 -->
        <input type="radio" name="star_rating" value="5" id="rating5">
        <label for="rating5">★</label>
        <input type="radio" name="star_rating" value="4" id="rating4">
        <label for="rating4">★</label>
        <input type="radio" name="star_rating" value="3" id="rating3">
        <label for="rating3">★</label>
        <input type="radio" name="star_rating" value="2" id="rating2">
        <label for="rating2">★</label>
        <input type="radio" name="star_rating" value="1" id="rating1">
        <label for="rating1">★</label>
    </div>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>
