<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video Detail</title>
</head>
<body>

<h1 th:text="${video.title}"></h1>
<!-- 이곳에 비디오 플레이어 삽입 가능 -->
<a th:href="${video.video_url}" th:text="${video.video_url}"></a>

<!-- 기능 버튼 -->
<div>
    <button>커리큘럼</button>
    <button>커뮤니티(QnA)</button>
    <button>노트</button>
</div>

<h4>Curriculum Videos</h4>
<ul>
    <!-- 강의에 포함된 모든 영상을 반복하여 목록에 표시 -->
    <li th:each="curriculumVideo : ${video.lecture.lecture_videoList}">
        <!-- 영상의 제목을 클릭하면 해당 영상의 상세 페이지로 이동 -->
        <a th:href="@{/lectures/{lectureId}/videos/{videoId}(lectureId=${video.lecture.lecture_id}, videoId=${curriculumVideo.lecture_video_id})}" th:text="${curriculumVideo.title}"></a>
    </li>
</ul>
</body>
</html>